body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 60px auto;
}

.header {

}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  grid-row-start: 1;
  grid-row-end: span 2;
  border-right: 1.5px solid #e5e8ed;
}

.menu-action {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-action > i { color: #7f8c8d; }

.menu-img {
  height: 40px;
}

.menu-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 4px solid #fff;
  border-right: 4px solid transparent;
  color: transparent;
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;
}

.menu-item > i         { color: #7f8c8d; }
.menu-item:visited > i { color: #7f8c8d }

.menu-item:hover {
  border-left: 4px solid #1e90ff;
  cursor: pointer;
}

.menu-item--active             { border-left: 4px solid #1e90ff; }
.menu-item--active > i         { color: #1e90ff; }
.menu-item--active:visited > i { color: #1e90ff; }

.content {
  background: #f4f7fc;
}